
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.snows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.snow {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    animation: moveSnow 8s infinite linear;
}

@keyframes moveSnow {
    0% {
        transform: translate(0, 0);
        opacity: 0.9;
    }
    100% {
        transform: translate(calc(100vh - 100%), calc(100vh - 100%));
        opacity: 1.5;
    }
}

.moon {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.6);
    z-index: 2;
    animation: moonGlow 3s infinite alternate;
}

@keyframes moonGlow {
    0% {
        box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 60px 20px rgba(255, 255, 255, 1);
    }
}

circle {
    fill: none;
    stroke: #fff;
    stroke-width: 10px;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 170;
    animation: rotation 10s ease-in-out infinite alternate;
}

svg {
    filter: blur(10px);
}

@keyframes rotation {
    0% {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 170;
    }
    100% {
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}

.arbre {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    top: 420px;
    width: 400px;
    height: 400px;
    z-index: 2;
}

.cloud-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.clouds {
    display: flex;
    width: 200%;
    animation: scrollClouds 20s linear infinite;
}

.clouds img {
    width: 100%;
    height: auto;
}

@keyframes scrollClouds {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}