/* #region GLOBALE */

body,html {
    background-color: #252525;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eb-garamond-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eb-garamond-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/eb-garamond-v32-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.retour {
  font-size: 24px;
  line-height: 22px;
  width: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 40%;
  transition: all 0.7s ease;
}

.bouton {
    text-decoration: none;
    color: #252525;
    font-family: "EB Garamond";
    font-style: normal;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    border-color: #ABAB73;
    background-color: #ABAB73;
    margin-bottom: 5%;
    display: inline-block;
    text-align: center;
    transition: all 0.7s ease;
  }

.bouton_transition:hover {
  transform: scale(1.1);
  background-color: #252525;
  color: #ABAB73;
}

.titre {
  font-family: "EB Garamond";
  color: #E8E8C6;
  display: inline-block;
  text-align: center;
  padding-top: 2%;
  width: 100%;
}

.card {
  background-color: #1D1D1D;
  border-radius: 30px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  border: #ABAB73 solid 3px;
  box-shadow: rgb(171, 171, 115, 0.4) 5px 5px, rgb(171, 171, 115, 0.3) 10px 10px, rgba(171, 171, 115, 0.2) 15px 15px, rgba(171, 171, 115, 0.1) 20px 20px, rgba(171, 171, 115, 0.05) 25px 25px;
}

.choix_menu {
  display: flex;
  justify-content: center;
  color: #E8E8C6;
  font-family: 'EB Garamond';
  padding-top: 30px;
  padding-bottom: 60px;  
}

/* #endregion */

/* #region HEADER */

header {
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  font-family: 'EB Garamond';
  font-size: 20px;
}

.header-accueil {
  background-color: transparent;
  position:absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.header-autre {
  background-color: #252525;
}

#bandeau {
  display: flex;
  background-color: #404040;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.025);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  justify-content: center;
  padding: 20px 50px 20px 50px;
  pointer-events: auto;
  cursor: pointer;
}

.fleche_header {
  width: 11px;
  height: 11px;
  float: inline-end;
  margin-left: 5px;
  margin-top: 11px;
}

.lien_bouton_menu {
  text-decoration: none;
  color: #252525;
  display: inline-block;
  padding: 8px 32px 8px 32px;
  background-color: #E8E8C6;
  border-radius: 30px;
  margin-left: 6.5px;
  margin-right: 6.5px;
}

.lien_bouton_menu:hover {
  background-color: #ABAB73;
}

.dropdown_child {
  display: none;
  position: absolute;
  background-color: #E8E8C6;
  min-width: 150px;
  border-radius: 20px;
}

.bouton_liste_menu {
  background-color:#E8E8C6;
  padding: 4px 16px 4px 16px;
  text-decoration: none;
  border-radius: 16px;
  color: #252525;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.dropdown_child a:hover {
  background-color: #ABAB73;
}

.dropdown:hover .dropdown_child {
  display: block;
}

/* #endregion */

/* #region ACCUEIL */

.banniere-jeux{
display: flex;
z-index: 1;
position: relative;
}

.texte-et-bouton{
  z-index: 2;
}

.image-accueil {
  width: 100%;
  height: 100%;
}

.img-effet-gris{
  filter: grayscale(100%);
  transition: all 0.4s ease; 
  display: block;
  width: 100%;
  height: 100%;
}

.img-effet-gris:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}

.texte-accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: #E8E8C6;
  font-family: 'EB Garamond';
  letter-spacing: 2px;
  margin-top: 5%;
}

.lien-image{
  position: relative;
  display: block;
}

.lien-image:hover .texte-milieu{
  opacity: 1;
}

.texte-milieu{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #E8E8C6;
  font-weight: 800;
  z-index: 10;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.bouton-artistes{
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  border-color: #ABAB73;
  color: #ABAB73;
  font-size: 24px;
  background-color: #252525;
  border: solid;
  font-family: 'EB Garamond';
  cursor: pointer;
  transition: all 0.7s ease;
}

.lien-bouton {
  text-decoration: none;
  width: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
}

.bloc-texte-protege {
  z-index: 50;
  position: relative;
  background-color: #252525;
  padding-top: 1%;
  width: 100%;
}

.titre_accueil {
  margin-top: 2%;
}

.header-accueil, 
.bloc-texte-protege, 
#footer {
    opacity: 0; 
    animation: apparitionDouce 1s ease-out forwards;
    animation-delay: 1.8s; 
}

.transition-haut {
    transform: translateY(-150vh); 
    animation: arriveDuHaut 1.2s ease-out forwards;
    animation-delay: 0.5s;
}

.transition-bas {
   transform: translateY(150vh); 
    animation: arriveDuBas 1.2s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes arriveDuHaut {
    to {
        transform: translateY(0);
    }
}

@keyframes arriveDuBas {
    to {
        transform: translateY(0); 
    }
}

@keyframes apparitionDouce {
    to {
        opacity: 1;
    }
}

/* #endregion */

/* #region ARTISTES */

.titre_page_artiste {
  padding-bottom: 2%;
}

.portrait {
  margin: 20px 20px 20px 20px;
  width: 251px;
  height: 220px;
  background-color: #ABAB73;
  border-radius: 15px;
}

.nom_artiste {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  padding-top: 30px;
}

.fonction_artiste {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.lien_en_savoir_plus_artiste {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  color: #ABAB73;
  border: #ABAB73 solid 3px;
  border-radius: 15px;
  background-color: #252525;
  margin-bottom: 16px;
  padding: 8px 48px 8px 48px;
  margin-left: 16px;
  margin-right: 16px;
  transition: all 0.7s ease;
}

#img_hidetaka{
  margin-left: 25px;
}

#img_masaru {
  padding-top: 6px;
}

#img_jun {
  padding-right: 15px;
  padding-top: 32px;
}

#img_yuka {
  margin-left: 40px;
  padding-top: 9px;
}

/* #endregion */

/* #region ARTISTES A PROPOS */

.img_artiste_a_propos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    object-fit: cover;
}

.artiste_a_propos_ligne {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
}

.artiste_a_propos_colonne {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

.titre_artiste_a_propos {
    font-family: "EB Garamond";
    font-size: 32px;
    line-height: 60px;
    font-style: normal;
    text-align: left;
    color: #E8E8C6;
    letter-spacing: 2px;
}

.paragraphe_artiste_a_propos {
    font-family: "EB Garamond";
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #E8E8C6;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    margin-bottom: 2%;
}

.artiste_a_propos_photo {
    background-color: #ABAB73;
    margin-bottom: 2%;
}

/* #endregion */

/* #region JEU */

  .jeu {
      display: flex;
      flex-direction: column;
  }

  .img1 {
      display: flex;
      width: 100%;
      height: 445px;
      justify-content: start;
      border-color: #000000;
      border-style: solid;
      border-left-width: 37px;
      border-right-width: 37px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      object-fit: cover;
  }

  .petite-image {
      display: flex;
      width: 100%;
      height: 140px;
      justify-content: end;
      border-color: #000000;
      border-style: solid;
      border-left-width: 25px;
      border-right-width: 25px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      margin-bottom: 13px;
      object-fit: cover;
  }

  .image-paragraphe {
      width: 294px;
      height: 294px;
      object-fit: cover;
  }
 
  .paragraphe {
      display: flex;
      font-family: "EB Garamond";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: left;
      font-size: 24px;
      color: #E8E8C6;
  }

  .lien_mot {
      font-size: 24px;
      line-height: 22px;
      width: 40%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-left: 30%;
      margin-top: 5%;
      transition: all 0.7s ease;
  }

  .para1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 3%;
      margin-bottom: 3%;
  }
  .para2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  #paragraphe1 {
      width: 40%;
      margin-left: 2%;
  }
  #paragraphe2 {
      width: 40%;
      margin-right: 2%;
  }
  .jeu_ligne {
      display: flex;
      flex-direction: row;
      width: 94%;
      margin-left: 3%;
  }

  .jeu_colonne {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
  }

  .image_principale_ds {
    object-position: center top;
  }

  .image_description_ds2 {
    object-position: right top;
  }

/*#endregion*/

/* #region EVENEMENT */

.portrait_événements {
  width: 341px;
  height: 262px;
  background-color: #000000;
  border-radius: 15px;
  margin: 20px 20px 20px 20px;
}

.nom_événement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  width: 341px;
  height: 119px;
  padding-left: 17px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.lien_en_savoir_plus {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: #ABAB73;
  border: #ABAB73 solid 3px;
  border-radius: 15px;
  background-color: #252525;
  padding: 8px 48px 8px 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  transition: all 0.7s ease;
}

.img_événement {
  padding-top: 35px;
}

.titre_evenement {
  padding-bottom: 2%;
}

/* #endregion */

/* #region EVENEMENT A PROPOS */

.img_evenement_a_propos {
    margin-left: 2%;
    height: 70%;
    width: 50%;
}

.evenement_ligne {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.evenement_colonne {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}

.titre_evenement_a_propos {
    font-family: "EB Garamond";
    font-size: 32px;
    line-height: 60px;
    font-style: normal;
    text-align: left;
    color: #E8E8C6;
    margin-bottom: 4%;
    display: flex;
    width: 100%;
    letter-spacing: 2px;
}

.paragraphe_evenement_a_propos {
    font-family: "EB Garamond";
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #E8E8C6;
    width: 100%;
    height: 100%;
    display: flex;
    letter-spacing: 1px;
}

/* #endregion */

/* #region CONTACT */

.contacts_div {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'EB Garamond';
  color: #E8E8C6;
}

.titre_contact {
  padding-top: 30px;
}

.ligne_contact {
  display: flex;
}

.liens_contacts {
  width: 200px;
  height: 200px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.liens_contacts a {
  color: #E8E8C6;
}

.contacts_fromsoftware {
  width: 520px;
  height: auto;
  background-color: #1D1D1D;
  margin: 30px 30px 60px 30px;
  border-radius: 30px;
  box-shadow: rgb(171, 171, 115, 0.4) 5px 5px, rgb(171, 171, 115, 0.3) 10px 10px, rgba(171, 171, 115, 0.2) 15px 15px, rgba(171, 171, 115, 0.1) 20px 20px, rgba(171, 171, 115, 0.05) 25px 25px;
}

.card_contact {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #ABAB73;
  border-radius: 15px;
  margin: 30px 30px 30px 30px;
}

.position_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.liens_contacts_entreprise {
  padding-left: 30px;
  padding-top: 30px;
  line-height: 50px;
}

.icone_texte {
  display: flex;
  align-items: center;
}

.icone_contact {
  margin-right: 20px;
  width: 7%;
}

/* #endregion */

/* #region FOOTER */

footer {
  background-color: #1D1D1D;
  height: 396px;
  color: #E8E8C6;
  font-family: 'Poppins';
}

.ligne {
  background-color: #ABAB73;
  height: 13px;
}

#alignement_footer{
  padding-top: 78px;
  display: flex;
}

#social_media {
  display: flex;
  padding-left: 10%;
}

#social_media img {
  margin-right: 20px;
}

#social_media img:hover {
  width: 60%;
}

#liens_rapides {
  padding-left: 88px;
}

#liens_rapides span{
  font-weight: 500;
  font-size: 16px;
}

#liens_rapides .infos_footer {
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  font-weight: 400;
}

#liens_rapides a {
  color: #E8E8C6;
  padding-left: 5px;
  text-decoration: none;
}

#liens_rapides img {
  width: 13px;
  height: 13px;
  margin-top: 6px;
}

#contacts {
  padding-left: 20%;
  font-size: 16px;
}

#contacts .infos_footer {
  display: flex;
}

#contacts img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

#contacts p {
  padding-top: 10px;
  font-weight: 400;
  padding-left: 8px;
}

#contacts span {
  font-weight: 500;
  font-size: 16px;
}

.mentions {
  padding-top: 80px;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

#mentions {
  padding-right: 20px;
}

/* #endregion */